body {
    box-sizing: border-box;
    position:relative;
}

.container {
    top:0;
    left:0;
    text-align: center;
}

.logo-row {
    margin-top:10%;
}

.mid-col {
    text-align: center;
}

.button-row {
    margin-top: 8%;
}

/* Loading screen */
.loading-row {
    text-align: center;
}

.sec-2 {
    display:none;
    position: absolute;
    margin: 20% 30%;
}

.progress {
    text-align: center;
}

.walk-pika {
    width:10%;
}

.pokeball {
    width:10%;    
}



