body {
    box-sizing: border-box;
    position:relative;
    background-image: url("../images/background.gif");
    background-size: auto;
}
/* .grid {
} */

.container {
    top:0;
    left:0;
    text-align: center;
}

.logo-row {
    margin-top:10%;
}

.mid-col {
    text-align: center;
}

.button-row {
    margin-top: 8%;
}

/* Loading screen */
.loading-row {
    text-align: center;
}

.loading-screen {
    display:none;
    position: absolute;
    margin: 20% 30%;
}

.progress {
    text-align: center;
}

.walk-pika {
    width:10%;
}

.pokeball {
    width:10%;    
}

/* Character Select Screen */

.character-screen {
    display:none;
}

img {
    width:100%;
    mix-blend-mode: multiply;
}

/* Battle Screen */

.battle-screen {
    display:none;
}