body {
    box-sizing: border-box;
    position:relative;
    background-image: url("../images/background.gif");
    background-size: 100%;
    z-index: -5;
    
}
.grid {
    font-family: 'Germania One', cursive;
    color:white;
}

.container {
    top:0;
    left:0;
    text-align: center;
}

.logo-row {
    margin-top:10%;
}
#logo {
    width:75%;
    margin:10%;
}

.mid-col {
    text-align: center;
}

.button-row {
    margin-top: 8%;
}

.btn-danger {
    font-size:3.0rem;
    border-radius:3.3rem;
    margin:-10%;
    padding: 2.5rem 3.0rem;
    line-height: 0.5;
}

/* Loading screen */
.loading-row {
    text-align: center;
}

.loading-screen {
    display:none;
    position: absolute;
    margin: 25%;
}

.load-logo{
margin-bottom: 3.5rem;
font-size: 4rem;
margin-left:-22%;
}
h2 {
    font-family: 'Germania One', cursive;
}
.progress {
    text-align: center;
}

.walk-pika {
    width:10%;
}

.pokeball {
    width:10%;    
}

/* Character Select Screen */
.character-screen {
    display:none;
    margin-top:13%;
}
.character-select-row{
    height:100%;    
    width:100%;
    display:flex;
}
.pokemon {
    width:60%;
    text-align: center
}

.character {
    margin: auto;
}
footer {
    text-align: center;
    font-size: 3rem;
}

.enemy-sec {
    display:flex;
    flex-direction:row;
}




/* Battle Screen */

.battle-screen {
    display:none;
}
h3 {
    color:red;
}

.stats{
    background-color: lemonchiffon;
    color: red;
    width:25%;
}